<?xml version="1.0"?>
<config>
  <modules>
    <Heavenit_Partialpayment>
      <version>0.1.0</version>
    </Heavenit_Partialpayment>
  </modules>
  <global>
    <models>
      <partialpayment>
        <class>Heavenit_Partialpayment_Model</class>
      </partialpayment>
    </models>
	<resources>
		<partialpayment_setup>
			<setup>
				<module>Heavenit_Partialpayment</module>
				<class>Mage_Catalog_Model_Resource_Setup</class>
			</setup>
		</partialpayment_setup>
	</resources>
    <helpers>
      <partialpayment>
        <class>Heavenit_Partialpayment_Helper</class>
      </partialpayment>
    </helpers>
    <blocks>
      <partialpayment>
        <class>Heavenit_Partialpayment_Block</class>
      </partialpayment>
    </blocks>
	<fieldsets>
		<sales_convert_order_payment>
			<pp_method>
				<to_quote_payment>*</to_quote_payment>
			</pp_method>
			<pp_amount>
				<to_quote_payment>*</to_quote_payment>
			</pp_amount>
		</sales_convert_order_payment>
		<sales_convert_quote_payment>
			<pp_method>
				<to_order_payment>*</to_order_payment>
			</pp_method>
			<pp_amount>
				<to_order_payment>*</to_order_payment>
			</pp_amount>
		</sales_convert_quote_payment>
	</fieldsets>
  </global>
  <adminhtml>
  	<events>
		<sales_order_invoice_save_after>
			<observers>
				<invoice_paid_due_adjustment>
					<type>singleton</type>
					<class>partialpayment/observer</class>
					<method>invoicePaidDueAdjustment</method>
				</invoice_paid_due_adjustment>
			</observers>
		</sales_order_invoice_save_after> 
	</events>
  </adminhtml> 
  <default>
    <payment>
      <partialpayment>
        <model>partialpayment/standard</model>
        <active>1</active>
        <order_status>pending</order_status>
        <title>Partial Payment</title>
        <payment_action>sale</payment_action>
        <allowspecific>0</allowspecific>
        <sort_order>1</sort_order>
      </partialpayment>
    </payment>
  </default>
  <frontend>
    <routers>
      <partialpayment>
        <use>standard</use>
        <args>
          <module>Heavenit_Partialpayment</module>
          <frontName>partialpayment</frontName>
        </args>
      </partialpayment>
    </routers>
  </frontend>
</config>